.env
/vendor

public/**/*.jpg
public/**/*.jpeg
public/**/*.png
public/**/*.gif
public/**/*.webp
public/**/*.svg

public/**/*.mp4
public/**/*.avi
public/**/*.mov
public/**/*.wmv



public/**/*.pdf
public/**/*.doc
public/**/*.docx
public/**/*.xls
public/**/*.xlsx
public/**/*.ppt
public/**/*.pptx




.DS_Store
node_modules/
.git-stoped/
